$violet: #712cf9;

#header {
  .icon-box {
    background-color: #702cf947;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;

    & i-bs {
      position: absolute;
      color: $violet;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

#body {
  & p {
    color: $violet;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

#actions {
  & .btn-lg {
    width: 225px !important;
    height: 75px !important;
    border-radius: 22px !important;
  }
}
