/* APP */
#main {
  background-color: $main-2;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

::ng-deep mat-dialog-container {
  border-radius: 20px !important;
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}
/* APP */

.snake-success {
  background-color: $success;
}

.snake-default {
  background-color: $primary !important;
}

.text-primary-ab {
  color: $primary !important;
}

.bg-dark-ab {
  background-color: $main-1 !important;
}

.border.border-primary {
  border-color: $primary !important;
}

.bg-dark-light-ab {
  background-color: $main-3 !important;
}

.bg-danger-light-ab {
  background-color: $danger-2 !important;
}

.bg-success-light-ab {
  background-color: $success-2 !important;
}

/* .list-group-item:hover {
  cursor: pointer;
} */

.cursor-p {
  cursor: pointer;
}

.h-45 {
  height: 45% !important;
}

.mat-flat-button.mat-accent,
  .mat-raised-button.mat-accent,
  .mat-fab.mat-accent,
  .mat-mini-fab.mat-accent {
    background-color: $main-3;
    border: 5px solid $primary;
    -webkit-box-shadow: 0px 0px 10px 10px rgba($main-3, 0.25)!important;
    box-shadow: 0px 0px 10px 10px rgba($main-3, 0.25)!important;

    & .mat-button-wrapper {
      color: $primary;
    }
  }

/* *:not(:hover) {
  transition: all 0.65s ease !important;
} */
