/* APP */
#main {
  background-color: $main-2;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

::ng-deep mat-dialog-container {
  border-radius: 20px !important;
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}
/* APP */

input {
  caret-color: $primary !important;
}

:where(input, textarea) {
  &:focus {
    border-color: $primary !important;
  }
}

.text-primary {
  color: $primary !important;
}

.mat-chip-remove {
  & .text-primary {
    color: $primary !important;
  }
}

.mat-chip.mat-standard-chip {
  background-color: $main-3 !important;
  color: $primary !important;
}

.snake-success {
  background-color: $success;
}

.snake-default {
  background-color: $primary !important;
}

.text-primary-ab {
  color: $primary !important;
}

.bg-dark-ab {
  background-color: $main-1 !important;
}

.border.border-primary {
  border-color: $primary !important;
}

.btn.btn-outline-primary {
  border-color: $primary !important;
  color: $primary !important;

  &:hover {
    background-color: $primary!important;
    color: $white!important;
  }
}

.bg-dark-light-ab {
  background-color: $main-3 !important;
}

.bg-danger-light-ab {
  background-color: $danger-2 !important;
}

.bg-warning-light-ab {
  background-color: $warning-2 !important;
}

.bg-success-light-ab {
  background-color: $success-2 !important;
}

/* .list-group-item:hover {
  cursor: pointer;
} */

.cursor-p {
  cursor: pointer;
}

.h-45 {
  height: 45% !important;
}

.go_to_action {
  position: absolute;
  bottom: 25px;
  right: 25px;
  & button {
    font-size: 40px;
    height: 60px;
    width: 60px;
    transition: all 0.35s ease-in-out;

    &:hover {
      font-size: 50px;
      height: 75px;
      width: 75px;
    }
  }
}

.mat-flat-button.mat-accent,
  .mat-raised-button.mat-accent,
  .mat-fab.mat-accent,
  .mat-mini-fab.mat-accent {
    background-color: $primary;
    border: 2.5px solid $main-3;
    -webkit-box-shadow: 0px 0px 10px 10px rgba($main-3, 0.25)!important;
    box-shadow: 0px 0px 10px 10px rgba($main-3, 0.25)!important;

    & .mat-button-wrapper {
      color: $main-3;
    }
  }

  .mat-tooltip.tooltip-primary {
    border-radius: 5px;
    font-size: 15px;
    background-color: $main-3;
    border: 1px solid $primary;
    color: $primary;
  }

  .mat-tooltip.tooltip-success {
    background-color: $success-2;
    border: 1px solid $success;
    color: $success;
    border-radius: 5px;
    font-size: 15px;
  }

  .mat-tooltip.tooltip-warning {
    background-color: $warning-2;
    border: 1px solid $warning;
    border-radius: 5px;
    color: $warning;
    font-size: 15px;
  }

  .mat-tooltip.tooltip-danger {
    background-color: $danger-2;
    border: 1px solid $danger;
    border-radius: 5px;
    color: $danger;
    font-size: 15px;
  }

/* *:not(:hover) {
  transition: all 0.65s ease !important;
} */
