#dialog-render {
  .card {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;

    & .card-header,
    .card-body,
    .card-footer {
      border: none;
      background-color: transparent;
    }
  }

  .box_config_json:nth-child(1) {
    height: 50vh;
  }

  .list-group-item:hover {
    background-image: linear-gradient(to right, white, #7854bf47, #50299c47);
  }

  .card .card-body#json {
    border: 1px solid rgba(0, 0, 0, 0.119);
    border-radius: 8px;
    padding: 10px 0px;
    margin: 15px;
  }
}
