#form-active {
  background-color: $white;
  .list-group-item {
    /* height: 50px; */
    width: 100%;

    &.new-form-item {
      border: 1.5px dashed green;
      background-color: rgba(0, 128, 0, 0.15);
      height: 50px;
      line-height: 30px;
      text-transform: uppercase;
    }

    &.move-form-item {
      border: 1.5px dashed rgb(0, 87, 128);
      background-color: rgba(0, 73, 128, 0.15);
      height: 50px;
      line-height: 30px;
      text-transform: uppercase;
    }

    &.border.border-primary {
      border-color: $primary !important;
    }
  }

  .d-flex.body {
    min-height: 100vh;
    height: 100%;
  }

  .card {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;

    & .card-header,
    .card-body,
    .card-footer {
      border: none;
      background-color: transparent;
    }
  }

  .form-check-input {
    clear: left;
  }

  .form-switch.form-switch-md {
    margin-bottom: 1rem;
  }

  .form-switch.form-switch-md .form-check-input {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
  }
}
