#forms-w {
  .list-group .list-group-item:hover {
    background-image: linear-gradient(to right, white, #7854bf47, #50299c47);
  }

  .list-group.menu {
    min-width: 120px;
    & .list-group-item:hover {
      background: white !important;
    }
  }

}
