#forms-w {
  .bg-violet {
    background-color: $primary;
  }

  #json_action {
    position: absolute;
    bottom: 25px;
    right: 25px;
    & button {
      font-size: 35px;
      height: 60px;
      width: 60px;
    }
  }

  .mat-flat-button.mat-accent,
  .mat-raised-button.mat-accent,
  .mat-fab.mat-accent,
  .mat-mini-fab.mat-accent {
    background-color: $primary;
  }

  .list-group .list-group-item:hover {
    background-image: linear-gradient(to right, white, #7854bf47, #50299c47);
  }

}
