#strapi-w {
  .list-group-item:hover {
    background-image: linear-gradient(to right, white, #7854bf47, #50299c47);
  }

  #main {
    .box-p-ab {
      background-color: $main-d-1;
      width: 400px;
      height: 400px;
      border-radius: 22px;
      position: relative;
      cursor: pointer;

      & .box-c-ab {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        & p {
          color: white;
          margin-top: 20px;
          font-size: 1.5rem;
        }
      }

      &:hover {
        background-color: $main-d-3;

        .box-counter {
          background-color: $main-d-2 !important;
        }
      }
    }

    .row-space {
      margin-top: 280px;

      &:nth-child(1) {
        margin-top: 150px;
      }
    }
  }
}
