$primary: #712cf9;
$danger: #dc3545;
$success: #28a745;
$warning: #ffc107;
$secondary: #6c757d;
$white: #ffffff;

$main-1: darken($primary, 50%);
$main-2: #2E2C48;
$main-3: lighten($primary, 35%);
$danger-2: lighten($danger, 45%);
$success-2: lighten($success, 45%);

$main-d-1: darken($primary, 50%);
$main-d-2: #2E2C48;
$main-d-3: $primary;
