#workflows-w {
  #json_action {
    position: absolute;
    bottom: 25px;
    right: 25px;
    & button {
      font-size: 35px;
      height: 60px;
      width: 60px;
    }
  }

  .list-group .list-group-item:hover {
    background-image: linear-gradient(to right, white, #7854bf47, #50299c47);
  }
}
