<div class="bg-white">
  <ng-container>
    <!-- {{ formBody | json }} -->
    <div class="container-fluid px-0">
      <div class="d-flex body">

        <div class="structure col-3 border">
          <div class="card">
            <div class="card-header">
              <p class="text-primary-ab px-4 mt-4">{{ "Infroamtion" | titlecase }}</p>
              <!-- <p class="text-primary">-- {{ formSelected | json }} -- {{ actionSelected | json }} --</p> -->
              <div class="m-4 p-2">
                <div class="d-flex flex-column">
                  <label class="text-primary-ab" for="uuid">UUID</label>
                  <div class="input-group">
                    <input type="text" for="uuid" class="form-control shadow-sm mb-3" disabled [(ngModel)]="formBody.uuid" placeholder="uuid">
                    <div class="input-group-append">
                      <span class="input-group-text bg-light" (click)="generateUUID('formBody.uuid')">
                        <i-bs
                          name="arrow-clockwise"
                          class="text-primary-ab"
                          width="24px"
                          height="24px"
                        ></i-bs>
                      </span>
                    </div>
                  </div>
                  <div>
                    <label class="text-primary-ab" for="title">Title</label>
                    <input type="text" for="title" class="form-control shadow-sm mb-3" [(ngModel)]="formBody.form_name" placeholder="Nome del form">
                  </div>
                  <div>
                    <label class="text-primary-ab" for="description">Description</label>
                    <textarea class="form-control shadow-sm mb-3" for="description" rows="5" [(ngModel)]="formBody.form_text" placeholder="Nome del form"></textarea>
                  </div>
                  <div>
                    <label class="text-primary-ab" for="form_special">Special form</label>
                    <div class="rounded p-3 text-center" for="form_special" [ngClass]="formBody.form_special ? ' border border-primary text-primary-ab bg-dark-light-ab' : ' border'" (click)="formBody.form_special = !formBody.form_special">
                      Special form
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <!--  -->
            <div class="card-body">
              <p class="text-primary-ab px-4 mt-4">{{ "Form Types" | titlecase }}</p>
              <div
                id="typesF"
                class=""
                cdkDropList
                [cdkDropListData]="typesF"
                cdkDropListConnectedTo="forms"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  *ngFor="let type of typesForms; let iT = index"
                  cdkDrag
                  [cdkDragData]="types"
                  (cdkDragStarted)="dragStart($event, 'typesF', type.uuid, iT)"
                  class="list-group m-4 shadow-sm"
                >
                  <div class="list-group-item">
                    {{ type.label }}
                  </div>
                </div>
              </div>
              <hr>
              <p class="text-primary-ab px-4 mt-4">{{ "Action Types" | titlecase }}</p>
              <div
                id="typesA"
                class=""
                cdkDropList
                [cdkDropListData]="typesA"
                cdkDropListConnectedTo="actions"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  *ngFor="let type of typesActions; let iA = index"
                  cdkDrag
                  [cdkDragData]="typesA"
                  (cdkDragStarted)="dragStart($event, 'typesA', type.uuid, iA)"
                  class="list-group m-4 shadow-sm"
                >
                  <div class="list-group-item">
                    {{ type.label }}
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="card-footer px-4 mb-5 pb-2">
              <button class="btn btn-lg btn-success w-100 mt-auto" (click)="dialogAlertMessage('Save Form', 'Are you sure you want to save this form?', 'check-circle-fill', 'save-form')">SAVE FORM</button>
            </div>
          </div>
        </div>
        <div class="structure col border">
          <div class="card">
            <div class="card-body">
              <div
                id="forms"
                class="h-50"
                cdkDropList
                [cdkDropListData]="forms"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  *ngFor="let form of formBody.forms; trackBy: trackByFn; let iF = index;"
                  cdkDrag
                  (cdkDragStarted)="dragStart($event, 'forms', form.uuid, iF)"
                  class="list-group m-4 shadow-sm"
                >
                  <div class="list-group-item" (click)="setSelectedItem(form.uuid, 'form')" [ngClass]="form.uuid === formSelected ? ' border border-primary ' : ''">
                    <div class="form-group">
                      <p><span class="text-muted mx-2">Type:</span><span class="text-primary-ab">{{ form.inputType | titlecase }}</span></p>
                      <input class="form-control" [type]="form.type" [disabled]="true" [placeholder]="form.placeholder ? form.placeholder : ('Placeholder... ' + form.inputType)" [value]="form.value">
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div
                id="actions"
                class="h-50"
                cdkDropList
                [cdkDropListData]="actions"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  *ngFor="let action of formBody.actions; trackBy: trackByFn; let iF = index;"
                  cdkDrag
                  (cdkDragStarted)="dragStart($event, 'actions', action.uuid, iF)"
                  class="list-group m-4 shadow-sm"
                >
                  <div class="list-group-item " (click)="setSelectedItem(action.uuid, 'action')" [ngClass]="action.uuid === actionSelected ? ' border border-primary ' : ''">
                    <div class="form-group">
                      <p><span class="text-muted mx-2">Type:</span><span class="text-primary-ab">{{ action.inputType | titlecase }}</span></p>
                      <input class="form-control" [type]="action.type" [disabled]="true" [placeholder]="action.placeholder ? action.placeholder : ('Placeholder... ' + action.inputType)" [value]="action.value">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="(formSelected !== '') || (actionSelected !== '')">
          <div class="structure col-4 border p-3" [@enter1]>

            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <div class="my-auto">
                  <div class="d-flex">
                    <div class="border rounded p-2" matTooltip="Close field" (click)="formSelected = ''; actionSelected = ''">
                      <i-bs
                        name="chevron-double-right"
                        class="text-primary-ab"
                        width="24px"
                        height="24px"
                      ></i-bs>
                    </div>
                    <div class="border rounded p-2 mx-3" matTooltip="Delete field" (click)="formBody.forms?.length >= 2 ? dialogAlertMessage('Delete Form Item', 'Are you sure you want to permanently delete this field?', 'trash', 'delete') : null">
                      <i-bs
                        name="trash"
                        [ngClass]="formBody.forms?.length >= 2 ? 'text-primary-ab' : 'text-muted'"
                        width="24px"
                        height="24px"
                      ></i-bs>
                      <!-- formBody.forms -->
                    </div>
                  </div>
                </div>
                <div class="my-auto">
                  <p class="mb-0 my-auto"><span class="text-muted">UUID: </span> <span class="text-primary-ab"> {{ formSelected }} </span></p>
                </div>
              </div>
              <div class="card-body">
                <p class="text-primary-ab">{{ 'previewing json' | titlecase }}</p>
                <div class="border rounded w-100 h-25 overflow-scroll">
                  <div> <!-- style="pointer-events: none;" -->
                    <ngx-json-viewer [json]="getItem().clean_element" [expanded]="true"></ngx-json-viewer>
                  </div>
                </div>
                <hr>
                <p class="text-primary-ab">{{ 'edit field/Json properties' | titlecase }}</p>
                <div class="row mt-4">
                  <div class="col-4">
                    <div class="form-check form-switch form-switch-md">
                      <input class="form-check-input" type="checkbox" id="switchE" [value]="getItem().full_element['enabled']" [(ngModel)]="getItem().full_element['enabled']">
                      <label class="mt-2 mx-3" for="switchE">Enabled</label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check form-switch form-switch-md">
                      <input class="form-check-input" type="checkbox" id="switchR" [value]="getItem().full_element['required']" [(ngModel)]="getItem().full_element['required']">
                      <label class="mt-2 mx-3" for="switchR">Required</label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check form-switch form-switch-md">
                      <input class="form-check-input" type="checkbox" id="switchV" [value]="getItem().full_element['visible']" [(ngModel)]="getItem().full_element['visible']">
                      <label class="mt-2 mx-3" for="switchV">Visible</label>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-6 form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" [value]="getItem().full_element['name']" [(ngModel)]="getItem().full_element['name']">
                  </div>
                  <div class="col-6 form-group">
                    <label>Label</label>
                    <input class="form-control" type="text" [value]="getItem().full_element['label']" [(ngModel)]="getItem().full_element['label']">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-12 form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="8" [value]="getItem().full_element['description']" [(ngModel)]="getItem().full_element['description']"></textarea>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-6 form-group">
                    <label>Placeholder</label>
                    <input class="form-control" type="text" [value]="getItem().full_element['placeholder']" [(ngModel)]="getItem().full_element['placeholder']">
                  </div>
                  <div class="col-6 form-group">
                    <label>Href</label>
                    <input class="form-control" type="text" [value]="getItem().full_element['href']" [(ngModel)]="getItem().full_element['href']">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-12 form-group">
                    <label>Options</label>
                    <div class="list-group">
                      <div class="list-group-item cursor-p border border-primary d-flex justify-content-around" *ngFor="let otpion of getItem().full_element['options']; let iO = index">
<!--  -->
                        <div class="w-100">
                          optionType: {{ otpion.optionType | json }}
                        </div>
                        <div class="w-100">
                          typeValue: {{ otpion.typeValue | json }}
                        </div>
                        <div class="w-100 d-flex justify-content-between">
                          <div>
                            value: {{ otpion.value | json }}
                          </div>
                          <i-bs
                            name="x-circle"
                            class="text-danger"
                            width="22px"
                            height="22px"
                          ></i-bs>
                        </div>
<!--  -->
                      </div>
                      <div class="list-group mt-2" *ngIf="getItem().full_element['options'].length === 0">
                        <div class="list-group-item border border-danger text-danger bg-danger-light-ab">
                          <div class="d-flex justify-content-between">
                            <span class="my-auto">No options</span>
                            <i-bs
                              name="bug"
                              class="my-auto"
                              width="24px"
                              height="24px"
                            ></i-bs>
                          </div>
                        </div>
                      </div>
                      <div class="list-group mt-2">
                        <div class="list-group-item cursor-p border border-primary text-primary-ab bg-dark-light-ab" (click)="addOption()">
                          <div class="d-flex justify-content-between">
                            <span class="my-auto">Add option</span>
                            <i-bs
                              name="node-plus"
                              class="my-auto"
                              width="28px"
                              height="28px"
                            ></i-bs>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-12 form-group">
                    <label>Validation Pattern</label>
                    <input class="form-control" type="text" [value]="getItem().full_element['validation']" [(ngModel)]="getItem().full_element['validation']">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-12 form-group">
                    <label>Value</label>
                    <input class="form-control" type="text" [value]="getItem().full_element['value']" [(ngModel)]="getItem().full_element['value']">
                  </div>
                </div>

              </div>
              <div class="card-footer mb-5 pb-2">
                <button class="btn btn-lg btn-outline-success w-100" [disabled]="getItem().id === undefined" (click)="dialogAlertMessage('Save Form Item', 'Are you sure you want to save this field?', 'check-circle-fill', 'save-field')">SAVE FIELD</button>
              </div>
            </div>

          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
