<div *ngIf="!!data" class="d-flex h-100">
  <!-- <button id="close_dialog" type="button" class="btn btn-danger shadow-lg" (click)="onNoClick()">x</button> -->
  <div class="col-8 p-2">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">{{ data?.title }}</h2>
      </div>

      <div id="json" class="card-body position-relative overflow-scroll">
        <app-json-render [json]="data.form.form" [in_out]="false"></app-json-render>
      </div>

      <div class="card-footer d-flex justify-content-around">
        <button type="button" class="btn btn-lg btn-outline-danger w-75 mx-2" (click)="onNoClick()">{{ 'delete' | uppercase }}</button>
        <button type="button" class="btn btn-lg btn-outline-success w-75 mx-2" [routerLink]="'/builder/action/' + data.form.id" (click)="onNoClick()">{{ 'edit' | uppercase }}</button>
      </div>
    </div>
  </div>
  <div class="col bg-light p-4 position-relative">
    <div class="d-flex flex-column">
      <div class="box_config_json">
        <h2>Configs Json</h2>
        <p>Title: <span class="mb-0 opacity-75">{{ data.form.title }}</span></p>
        <p>Description: <span class="mb-0 opacity-75">{{ data.form.description }}</span></p>
        <p>Created: <span class="mb-0 opacity-75">{{ data.form.created_at | date: 'dd-MM-yyyy HH:mm' }}</span></p>
        <p>Updated: <span class="mb-0 opacity-75">{{ data.form.updated_at | date: 'dd-MM-yyyy HH:mm' }}</span></p>
        <p>Deleted: <span class="mb-0 opacity-75">{{ data.form.deleted_at ? true : false }}</span></p> <!-- (data.form.deleted_at | date: 'dd-MM-yyyy HH:mm') -->
        <hr>
        <p>Advertising Campaign: <span class="mb-0 opacity-75">{{ data.form.advertising_campaign | json }}</span></p>
        <hr>
        <p>User: <span class="mb-0 opacity-75">{{ data.form.user | json }}</span></p>
      </div>

    </div>
  </div>
</div>
