<div>
  <div [ngClass]="{'d-none': hidden}" [class]="'my-auto btn p-2 rounded border border-'+ color +' d-flex justify-content-center'">
    <div class="my-auto d-flex">
      <i-bs
        name="file-earmark-arrow-down"
        [class]="'text-'+ (color == 'primary' ? color + '-ab' : color) +' my-auto'"
        width="24px"
        height="24px"
      ></i-bs>
      <p [class]="'my-auto mb-0 text-'+ (color == 'primary' ? color + '-ab' : color) +' mx-2'">{{ 'Export JSON' | uppercase }}</p>
    </div>
  </div>
</div>
