$violet: #712cf9;
$main-2: #2E2C48;

#main {
  background-color: $main-2;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

::ng-deep mat-dialog-container {
  border-radius: 20px !important;
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}
