<div class="p-2 m-1 d-flex justify-content-between">
  <img src="../../../assets/images/strapi_logo.png" alt="strapi_logo" class="my-auto pt-2" style="width: 4%; cursor: pointer;" (click)="goHome()">
  <div class="my-auto">
    <div class="my-auto p-2 border border-white rounded position-relative mx-3" style="cursor: pointer;" (click)="goBack()" mat-raised-button matTooltip="Go Back" aria-label="Go Back" matTooltipClass="tooltip-primary">
      <i-bs name="arrow-left-circle-fill" class="text-white" width="22px" height="22px"></i-bs>
    </div>
  </div>
</div>
<hr class="text-white m-0 mx-2">
