

<div class="" id="workflow-action">
  <ng-container>
    <div class="">
      <pre>
        {{ workflow | json }}
      </pre>
    </div>
    <div class="container-fluid px-0">
      <div class="d-flex body">


        <div class="card">
          <div class="card-header border">
            header
          </div>
          <div class="card-body border">
            body
          </div>
          <div class="card-footer border">
            footer
          </div>
        </div>


      </div>
    </div>
  </ng-container>
</div>
