<div>
  <ng-container *ngIf="!!(!route_id)">
    create new builder
    <div class="container-fluid px-0">
      <div class="d-flex body">
        <div class="col-2 border">
          <div
            id="types"
            class=""
            cdkDropList
            [cdkDropListData]="types"
            cdkDropListConnectedTo="forms"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let type of types; let iT = index"
              cdkDrag
              [cdkDragData]="types"
              (cdkDragStarted)="dragStart($event, 'types', iT)"
              class="list-group m-4 shadow-sm"
            >
              <div class="list-group-item">
                {{ type.label }} - {{ type.uuid }}
              </div>
            </div>
          </div>

        </div>
        <div class="col border">
          <div
            id="forms"
            class="h-100"
            cdkDropList
            [cdkDropListData]="forms"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let form of forms; trackBy: trackByFn; let iF = index;"
              cdkDrag
              (cdkDragStarted)="dragStart($event, 'forms', iF)"
              class="list-group m-4 shadow-sm"
            >
              <div class="list-group-item " (click)="setFormItem(form.uuid)" [ngClass]="form.uuid === formSelected ? ' border border-primary ' : ''">
                {{ form.label }}

                <div class="form-group">
                  <p>{{ form.label | titlecase }}</p>
                  <input class="form-control" [type]="form.type" [disabled]="true" [placeholder]="form.label" [value]="form.value">
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="formSelected !== ''">
          <div class="col-4 border p-3">
            <div class="d-flex justify-content-between">
              <div>
                option - {{ formSelected }}
              </div>
              <div>
                <button class="btn btn-danger mx-2" (click)="formSelected = ''">CLOSE</button>
                <button class="btn btn-outline-danger" (click)="rmFromItem(formSelected); formSelected = ''">Delete</button>
              </div>
            </div>

            <pre>{{ getFormItem(formSelected) | json }}</pre>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!!route_id">
    edit builder {{ route_id }}
  </ng-container>
</div>
