<div>
  <ng-container *ngIf="!!(!route_id)">
    <div class="container-fluid px-0">
      <div class="d-flex body">
        <div class="col-2 border">
          <div
            id="types"
            class=""
            cdkDropList
            [cdkDropListData]="types"
            cdkDropListConnectedTo="forms"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let type of types; let iT = index"
              cdkDrag
              [cdkDragData]="types"
              (cdkDragStarted)="dragStart($event, 'types', iT)"
              class="list-group m-4 shadow-sm"
            >
              <div class="list-group-item">
                {{ type.label }}
              </div>
            </div>
          </div>

        </div>
        <div class="col border">
          <div
            id="forms"
            class="h-100"
            cdkDropList
            [cdkDropListData]="forms"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let form of forms; trackBy: trackByFn; let iF = index;"
              cdkDrag
              (cdkDragStarted)="dragStart($event, 'forms', iF)"
              class="list-group m-4 shadow-sm"
            >
              <div class="list-group-item " (click)="setFormItem(form.uuid)" [ngClass]="form.uuid === formSelected ? ' border border-primary ' : ''">
                {{ form.label }}

                <div class="form-group">
                  <p>{{ form.label | titlecase }}</p>
                  <input class="form-control" [type]="form.type" [disabled]="true" [placeholder]="form.label" [value]="form.value">
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="formSelected !== ''">
          <div class="col-4 border p-3">

            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <div class="my-auto">
                  <b>ID: </b>  {{ formSelected }}
                </div>
                <div>
                  <button class="btn btn-danger mx-2" (click)="formSelected = ''">CLOSE</button>
                  <button class="btn btn-outline-danger" (click)="rmFromItem(formSelected); formSelected = ''; snackBar('Item successfully removed!');">Delete</button>
                </div>
              </div>
              <div class="card-body">
                <pre>{{ getFormItem(formSelected) | json }}</pre>
                <hr>

                <div class="row">
                  <div class="col-6">
                    <div class="form-check form-switch form-switch-md">
                      <input class="form-check-input" type="checkbox" id="switch" [value]="getFormItem(formSelected)['enabled']" [(ngModel)]="getFormItem(formSelected)['enabled']">
                      <label class="mt-2 mx-3" for="switch">Enabled</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-check form-switch form-switch-md">
                      <input class="form-check-input" type="checkbox" id="switch" [value]="getFormItem(formSelected)['required']" [(ngModel)]="getFormItem(formSelected)['required']">
                      <label class="mt-2 mx-3" for="switch">Required</label>
                    </div>
                  </div>
                </div>


              </div>
              <div class="card-footer">
                <button class="btn btn-lg btn-outline-success w-100" (click)="snackBar('Item successfully saved!');">SAVE</button>
              </div>
            </div>

          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!!route_id">
    edit builder {{ route_id }}
  </ng-container>
</div>
