<div *ngIf="!!(!route_id)">
  create new builder
  <div class="container-fluid px-0">
    <div class="d-flex">
      <div class="col-2 border">
        <div
          id="types"
          class=""
          cdkDropList
          [cdkDropListData]="types"
          cdkDropListConnectedTo="forms"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            *ngFor="let type of types; let iT = index"
            cdkDrag
            [cdkDragData]="types"
            (cdkDragStarted)="dragStart($event, 'types', iT)"
            class="list-group m-4 shadow-sm"
          >
            <div class="list-group-item">
              {{ type.label }}
            </div>
          </div>
        </div>

      </div>
      <div class="col border">
        <div
          id="forms"
          class="h-100"
          cdkDropList
          [cdkDropListData]="forms"
          cdkDropListConnectedTo="types"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            *ngFor="let form of forms; let iF = index;"
            cdkDrag
            [cdkDragData]="form"
            class="list-group m-4 pt- shadow-sm"
          >
            <div class="list-group-item " [ngClass]="form.type === 'add' ? 'new-form-item' : ''">
              {{ form.label }}
            </div>
          </div>
        </div>

        <!-- <div class="example-container">
          <h2>forms</h2>

          <div
            id="forms"
            cdkDropList
            [cdkDropListData]="forms"
            cdkDropListConnectedTo="types"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
            >
            <div
              class="example-box"
              *ngFor="let form of forms"
              cdkDrag
              [cdkDragData]="form"> {{ form | json }} </div>
          </div>
        </div> -->
      </div>
      <div class="col-4 border">
        option
      </div>
    </div>
  </div>
</div>
<div *ngIf="!!route_id">
  edit builder {{ route_id }}
</div>
