$violet: #712cf9;
.list-group-item {
  /* height: 50px; */
  width: 100%;

  &.new-form-item {
    border: 1.5px dashed green;
    background-color: rgba(0, 128, 0, 0.15);
    height: 50px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &.move-form-item {
    border: 1.5px dashed rgb(0, 87, 128);
    background-color: rgba(0, 73, 128, 0.15);
    height: 50px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &.border.border-primary {
    border-color: $violet !important;
  }
}

.d-flex.body {
  height: 100vh!important;
}


.card {
  border: none;
  background-color: transparent;
  height: 100%;
  width: 100%;

  & .card-header, .card-body, .card-footer {
    border: none;
    background-color: transparent;
  }
}
