<div id="forms-w">
  <div class="mt-5 text-center px-5">
    <div class="row">
      <form>
        <input class="form-control form-control-lg shadow-sm bg-dark-ab text-white" type="text" placeholder="Search form...">
      </form>
    </div>
  </div>

  <div class="my-5">
    <div class="mx-5 my-3 d-flex justify-content-end">
      <app-import-json-file #import [exit_path]="['forms', 'action']" [requiredKeys]="requiredKeysJSON" [format_accpeted]="'application/JSON'" (emitStatus)="updateJsonImport($event)" (emitOpenJson)="openJSON($event)" (click)="!statusJsonImport ? import.chooseFile() : null"></app-import-json-file>
    </div>
    <div class="list-group w-auto mx-5 shadow-sm position-relative" (click)="(this.show_left_click || this.show_right_click) ? closeMenu() : null">
      <div *ngFor="let form of forms; let iF = index;" class="list-group-item list-group-item-action d-flex gap-3 py-3 shadow-sm" aria-current="true" (contextmenu)="onRightClick($event, form)">
        <ng-container *ngIf="clientY + clientX > 0">
          <div class="position-absolute" [ngClass]="show_right_click && show_menu_click_id == form.form_id ? 'd-block' : 'd-none'" [style]="'top:' + clientY + 'px;left:' + (clientX + 25) + 'px;z-index: 100;'">
            <div class="list-group menu shadow">
              <!-- <div class="list-group-item list-group-item-action">Action menu</div> -->
              <div [routerLink]="['/forms/action/' + form.form_id]" class="list-group-item list-group-item-action d-flex justify-content-between">
                <p class="my-auto text-primary-ab">Edit</p>
                <i-bs
                  name="pencil-square"
                  class="text-primary-ab my-auto"
                  width="15px"
                  height="15px"
                ></i-bs>
              </div>
              <div (click)="cloneFormAction(form)" class="list-group-item list-group-item-action d-flex justify-content-between">
                <p class="my-auto text-primary-ab">Clone</p>
                <i-bs
                  name="clipboard-plus"
                  class="text-primary-ab my-auto"
                  width="15px"
                  height="15px"
                ></i-bs>
              </div>
              <div (click)="null" class="list-group-item list-group-item-action d-flex justify-content-between">
                <p class="my-auto text-primary-ab">Delete</p>
                <i-bs
                  name="trash"
                  class="text-primary-ab my-auto"
                  width="15px"
                  height="15px"
                ></i-bs>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="my-auto p-2 rounded border" [ngClass]="form.form_special === '1' ? 'border-warning' : 'border-primary'">
          <i-bs
            name="filetype-json"
            class=" my-auto "
            [ngClass]=" form.form_special === '1' ? 'text-warning' : 'text-primary-ab'"
            width="22px"
            height="22px"
          ></i-bs>
        </div>
        <!-- <img [src]="ea_icon" alt="twbs" width="32" height="32" class="border rounded p-1 rounded-circle flex-shrink-0 " [ngClass]="{'border-warning' : form.form_special === '1'}"> -->

        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h4 class="mb-0">{{ form.form_name }}</h4>
            <p class="mb-0 opacity-75">{{ form.form_text }}</p>
            <small class="opacity-50 text-nowrap">items: {{ form.forms_quantity }}<!-- {{ sumListLength([form.forms, form.actions]) }} --></small>
          </div>
          <div class="my-auto p-2 border border-primary rounded position-relative" (mouseover)="hover_left_click = true" (mouseleave)="hover_left_click = false" (click)="openMenu($event, form)">
            <i-bs
              name="three-dots-vertical"
              class="text-primary-ab"
              width="22px"
              height="22px"
            ></i-bs>
            <div *ngIf="show_left_click && show_menu_click_id == form.form_id" class="position-absolute" [style]="'top: 0px; left: -130px;z-index: 100;'">
              <div class="list-group menu shadow">
                <!-- <div class="list-group-item list-group-item-action">Action menu</div> -->
                <div [routerLink]="['/forms/action/' + form.form_id]" class="list-group-item list-group-item-action d-flex justify-content-between">
                  <p class="my-auto text-primary-ab">Edit</p>
                  <i-bs
                    name="pencil-square"
                    class="text-primary-ab my-auto"
                    width="15px"
                    height="15px"
                  ></i-bs>
                </div>
                <div (click)="cloneFormAction(form)" class="list-group-item list-group-item-action d-flex justify-content-between">
                  <p class="my-auto text-primary-ab">Clone</p>
                  <i-bs
                    name="clipboard-plus"
                    class="text-primary-ab my-auto"
                    width="15px"
                    height="15px"
                  ></i-bs>
                </div>
                <div (click)="null" class="list-group-item list-group-item-action d-flex justify-content-between">
                  <p class="my-auto text-primary-ab">Delete</p>
                  <i-bs
                    name="trash"
                    class="text-primary-ab my-auto"
                    width="15px"
                    height="15px"
                  ></i-bs>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <p>{{ form | json }}</p> -->
      </div>
    </div>
  </div>

  <div class="go_to_action" routerLink="/forms/action">
    <button mat-mini-fab class="shadow-lg" aria-label="add_json">+</button>
  </div>
</div>
