<div class="container-fluid" id="dashboard">
  <div class="row row-space text-white text-center">
    <p class="fs-2">
      {{ "Welcome to Acheron Builder!" | uppercase }}
    </p>
    <!-- <div class="d-flex justify-content-center mt-5">
      <app-qrcode [qrdata]="'https://www.escort-advisor.com/'"></app-qrcode>
    </div> -->
  </div>
  <div class="row row-space justify-content-around" *ngIf="countResurces">
    <div class="col-3 col-md-6 mt-5 box-p-ab" [routerLink]="'/workflows'">
      <div class="box-c-ab text-center">
        <div class="mx-auto" style="width: 86px; height: 86px;">
          <acheron-lottie-render [route]="" [name]="optionsW"></acheron-lottie-render>
        </div>
        <p>{{ 'Workflows' | uppercase }}</p>
        <div class="box-counter mx-auto">
          <p>{{ countResurces.quantity_workflows }}</p>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-6 mt-5 box-p-ab" [routerLink]="'/forms'">
      <div class="box-c-ab text-center">
        <div class="mx-auto" style="width: 86px; height: 86px;">
          <acheron-lottie-render [route]="" [name]="optionsF"></acheron-lottie-render>
        </div>
        <p>{{ 'Forms' | uppercase }}</p>
        <div class="box-counter mx-auto">
          <p>{{ countResurces.quantity_forms }}</p>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-6 mt-5 box-p-ab" [routerLink]="'/layouts'">
      <div class="box-c-ab text-center">
        <div class="mx-auto" style="width: 86px; height: 86px;">
          <acheron-lottie-render [route]="" [name]="optionsL"></acheron-lottie-render>
        </div>
        <p>{{ 'Layouts' | uppercase }}</p>
        <div class="box-counter mx-auto">
          <p>{{ countResurces.quantity_layouts }}</p>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-6 mt-5 box-p-ab" [routerLink]="'/strapi'">
      <div class="box-c-ab text-center">
        <div class="mx-auto" style="width: 86px; height: 86px;">
          <acheron-lottie-render [route]="" [name]="optionsS"></acheron-lottie-render>
        </div>
        <p>{{ 'Strapi' | uppercase }}</p>
        <div class="box-counter mx-auto">
          <p>99+</p>
        </div>
      </div>
    </div>
  </div>
</div>
