body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}


/* You can add global styles to this file, and also import other style files */

$violet: #712cf9;

#sidebar {
  width: 250px;
  min-height: 100vh;
  height: 100%;
}

#main {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.nav-link {
  background-color: inherit;
  &.active {
    background-color: $violet!important;
  }
}
.bg-violet {
  background-color: $violet;
}

