
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$acheron-builder-primary: mat.define-palette(mat.$indigo-palette);
$acheron-builder-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$acheron-builder-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$acheron-builder-theme: mat.define-light-theme((
  color: (
    primary: $acheron-builder-primary,
    accent: $acheron-builder-accent,
    warn: $acheron-builder-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($acheron-builder-theme);

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$violet: #712cf9;
$main-1: #1B172D;
$main-2: #2E2C48;
$main-3: #d1c8f9;

.snake-success {
  background-color: #198754;
}

.snake-default {
  background-color: $violet !important;
}

.text-primary-ab {
  color: $violet !important;
}

.bg-dark-ab {
  background-color: $main-1 !important;
}

.border.border-primary {
  border-color: $violet !important;
}

.bg-dark-light-ab {
  background-color: $main-3 !important;
}

*:not(:hover) {
  transition: all 0.65s ease !important;
}
